<div class="jumbotron">
  <h1>Our Supporters</h1>
</div>

<p id="notice"><%= notice %></p>

<div class="container">
  <% @donors.each do |d| %>
    <div class="col-sm-6" style="padding-bottom: 10px;">
      <% if d.img != "" %>
        <%= link_to image_tag(d.img, class: "img-responsive") %>
      <% else %>
        <%= d.name %>
      <% end %>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to 'New Donor', new_donor_path %>
  <% end %>

</div>