<div class="jumbotron">
  <h1>Our Supporters</h1>
</div>

<div class="donors innerContainer">
  <% @donors.each do |d| %>
    <div class="col-sm-6 donorlist">
      <% if d.img != "" %>
        <%= link_to image_tag(d.img, class: "img-responsive"), d %>
      <% else %>
        <%= d.name %>
      <% end %>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to 'New Donor', new_donor_path %>
  <% end %>
</div>