/* line 3, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/about.scss */
.mission img,
.origin img {
  width: 500px;
  margin: 15px;
  border-radius: 15px;
}
/* line 9, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/about.scss */
.mission li,
.origin li {
  font-family: 'Coming Soon', cursive;
  text-transform: none;
  padding-bottom: 10px;
  line-height: 22px;
}
/* line 16, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/about.scss */
.mission li:before,
.origin li:before {
  content: "\2605";
  font-size: 14px;
  margin-left: -25px;
  padding-left: 35px;
  padding-right: 8px;
}
/* line 24, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/about.scss */
.mission ul,
.origin ul {
  list-style: none;
}

/* line 29, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/about.scss */
.green {
  color: white;
  background-color: green;
}

/* line 34, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/about.scss */
.blue {
  color: white;
  background-color: blue;
}

/* line 39, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/about.scss */
.purple {
  color: white;
  background-color: purple;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 568px) {
  /* line 50, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/about.scss */
  .mission img,
  .origin img {
    width: 100%;
    display: block;
    border-radius: 15px;
    padding: 10px;
    margin: 0 auto;
  }
}
/* line 1, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/carousel.scss.erb */
#item1 {
  background-image: url("/assets/carousel1-820645261c8462f476e717267b586b76a2ad6d21075dc8970087cf63d44d061f.jpg");
  background-size: cover;
}

/* line 6, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/carousel.scss.erb */
#item2 {
  background-image: url("/assets/carousel2-547e7a3649f7c8fb296fe016d7c72eb99fb6407e5313e31acbafd464d6ed065e.jpg");
  background-size: cover;
}

/* line 11, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/carousel.scss.erb */
#item3 {
  background-image: url("/assets/carousel3-931fa3178e4584f5dda4f766c55875a7d1f57c3940fca7ce4ee41db2b7a0a770.jpg");
  background-size: cover;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
/* line 21, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/carousel.scss.erb */
* {
  font-size: 20px;
}

/* line 25, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/carousel.scss.erb */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
/* line 34, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/carousel.scss.erb */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

/* line 38, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/carousel.scss.erb */
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

/* line 42, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/carousel.scss.erb */
.navbar-wrapper .navbar .container {
  width: auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
/* line 51, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/carousel.scss.erb */
.border-radius {
  border-radius: 15px;
}

/* line 55, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/carousel.scss.erb */
.carousel {
  height: 500px;
  margin-bottom: 25px;
}

/* Since positioning the image, we need to help out the caption */
/* line 60, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/carousel.scss.erb */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
/* line 65, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/carousel.scss.erb */
.carousel .item {
  height: 500px;
  background-color: #fff;
}

/* Featurettes
------------------------- */
/* line 73, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/carousel.scss.erb */
.featurette-divider {
  margin: 30px 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* line 78, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/carousel.scss.erb */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Navbar positioning foo */
  /* line 90, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/carousel.scss.erb */
  .navbar-wrapper {
    margin-top: 20px;
  }

  /* line 93, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/carousel.scss.erb */
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  /* line 97, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/carousel.scss.erb */
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  /* line 103, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/carousel.scss.erb */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  /* line 108, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/carousel.scss.erb */
  .carousel-caption p {
    padding-top: 25px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
    font-style: italic;
  }

  /* line 116, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/carousel.scss.erb */
  .featurette-heading {
    font-size: 50px;
  }

  /* line 120, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/carousel.scss.erb */
  .nav-spacing {
    margin-left: 50px;
  }
}
@media (min-width: 992px) {
  /* line 126, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/carousel.scss.erb */
  .featurette-heading {
    margin-top: 120px;
  }
}
/* line 1, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 18, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/application.scss */
body {
  font-family: 'Coming Soon', cursive;
  padding-top: 40px;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* line 25, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/application.scss */
p {
  font-size: 16px;
}

/* line 29, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/application.scss */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
a,
li {
  font-family: 'Patrick Hand SC', cursive;
  text-transform: uppercase;
}

/* line 47, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/application.scss */
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:visited,
footer a,
footer a:visited {
  color: #fff;
}

/* line 54, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/application.scss */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:active,
footer a:hover,
footer a:active {
  color: #ffe493;
}

/* line 61, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/application.scss */
.panel-heading {
  text-align: center;
  border-radius: 5px;
}

/* line 66, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/application.scss */
.panel-title {
  font-size: 26px;
}

/* line 70, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/application.scss */
.dropdown-menu > li > a:hover {
  background-color: #ffe493;
}

/* line 74, /Users/Juli/Documents/Work/ACAM/acam_rails/app/assets/stylesheets/application.scss */
.jumbotron {
  background-color: #E3F8FD;
  border-radius: 15px;
}
