/* line 5, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/about.scss */
.mission img,
.board img,
.origin img,
.strategy img {
  width: 500px;
  margin: 15px;
  border-radius: 15px;
}

/* line 12, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/about.scss */
.accomplishments {
  text-align: center;
}
/* line 15, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/about.scss */
.accomplishments .acc-img {
  margin: 0 auto;
  width: 100% !important;
  max-width: 600px;
}
/* line 21, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/about.scss */
.accomplishments li {
  font-family: 'Coming Soon', cursive;
  text-transform: none;
  padding-bottom: 10px;
  line-height: 22px;
}
/* line 28, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/about.scss */
.accomplishments li:before {
  content: "\2605";
  font-size: 14px;
  margin-left: -25px;
  padding-left: 35px;
  padding-right: 8px;
}
/* line 36, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/about.scss */
.accomplishments ul {
  list-style: none;
}

/* line 41, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/about.scss */
.green {
  color: white;
  background-color: green;
}

/* line 46, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/about.scss */
.green:hover {
  background-color: #3aaf36;
}

/* line 50, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/about.scss */
.blue {
  color: white;
  background-color: #1c23a8;
}

/* line 55, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/about.scss */
.blue:hover {
  background-color: #2773f7;
}

/* line 59, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/about.scss */
.purple {
  color: white;
  background-color: purple;
}

/* line 63, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/about.scss */
.purple:hover {
  background-color: #b54fb5;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 768px) {
  /* line 75, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/about.scss */
  .mission img,
  .board img,
  .origin img,
  .strategy img {
    width: 100%;
    display: block;
    border-radius: 15px;
    padding: 10px;
    margin: 0 auto;
  }
}
/* line 1, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
#item1 {
  background-image: url("/assets/carousel1-820645261c8462f476e717267b586b76a2ad6d21075dc8970087cf63d44d061f.jpg");
  background-size: cover;
}

/* line 6, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
#item2 {
  background-image: url("/assets/carousel2-547e7a3649f7c8fb296fe016d7c72eb99fb6407e5313e31acbafd464d6ed065e.jpg");
  background-size: cover;
}

/* line 11, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
#item3 {
  background-image: url("/assets/carousel3-931fa3178e4584f5dda4f766c55875a7d1f57c3940fca7ce4ee41db2b7a0a770.jpg");
  background-size: cover;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
/* line 21, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
* {
  font-size: 20px;
}

/* line 25, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
/* line 34, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

/* line 38, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

/* line 42, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
.navbar-wrapper .navbar .container {
  width: auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
/* line 51, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
.border-radius {
  border-radius: 15px;
}

/* line 55, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
.carousel {
  height: 500px;
  margin-bottom: 25px;
}

/* Since positioning the image, we need to help out the caption */
/* line 60, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
/* line 65, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
.carousel .item {
  height: 500px;
  background-color: #fff;
}

/* Featurettes
------------------------- */
/* line 73, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
.featurette-divider {
  margin: 30px 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* line 78, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Navbar positioning foo */
  /* line 89, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
  .navbar-wrapper {
    margin-top: 20px;
  }

  /* line 92, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  /* line 96, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  /* line 102, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  /* line 107, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
  .carousel-caption p {
    padding-top: 25px;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.4;
    font-style: italic;
  }

  /* line 115, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
  .carousel-indicators {
    bottom: 0;
  }

  /* line 118, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
  .featurette-heading {
    font-size: 50px;
  }

  /* line 122, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
  .nav-spacing {
    margin-left: 50px;
  }
}
@media (min-width: 992px) {
  /* line 128, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/carousel.scss.erb */
  .featurette-heading {
    margin-top: 0;
  }
}
/* line 5, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/contact.scss */
.contact {
  margin: 0 auto;
}
/* line 8, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/contact.scss */
.contact h3 {
  margin: 0;
  font-size: 22px;
  font-family: "coming soon", cursive !important;
  text-transform: none !important;
}
/* line 15, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/contact.scss */
.contact iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

/* line 22, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/contact.scss */
.align-right {
  text-align: right;
}

/* line 26, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/contact.scss */
.row {
  margin-bottom: 10px;
}

/* line 30, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/contact.scss */
.map-embed {
  width: 500px;
  max-width: 100%;
  overflow: hidden;
  height: 500px;
  color: red;
  margin: 0 auto;
}

/* line 39, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/contact.scss */
#display-google-map {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

/* line 44, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/contact.scss */
form {
  text-align: center;
  margin: 0 auto;
}

/* line 48, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/contact.scss */
.width {
  width: 70%;
}

/* line 51, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/contact.scss */
.col-xs-12 {
  margin-bottom: 25px;
}
/* line 1, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
#calendar {
  margin: 0 auto;
  margin-bottom: 100px;
}

/* line 6, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.calendar * {
  box-sizing: border-box;
}

/* line 10, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.calendar {
  cursor: default;
  width: 90%;
  text-align: center;
}
/* line 15, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.calendar img {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/* line 23, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.height {
  height: 270px;
}

/* line 27, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-grid {
  box-shadow: 2px 2px 5px #888888;
  height: inherit;
  width: 400px;
  display: block;
  margin: 0 auto;
}

/* line 34, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-day {
  width: 14.28%;
  height: 13%;
  background-color: white;
  float: left;
  text-align: center;
}

/* line 42, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-day-previous-month {
  width: 14.28%;
  height: 13%;
  background-color: #F1F1F1;
  float: left;
  text-align: center;
  color: gray;
}

/* line 51, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-day-next-month {
  width: 14.28%;
  height: 13%;
  background-color: #F1F1F1;
  float: left;
  text-align: center;
  color: gray;
}

/* line 60, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-week-day {
  width: 14.28%;
  height: 10.38%;
  background-color: white;
  color: black;
  float: left;
  text-align: center;
  font-weight: bold;
  font-size: smaller;
  text-transform: uppercase;
  padding-top: 1%;
}

/* line 73, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-next {
  width: 12.5%;
  height: 12%;
  padding: 0 2% 0 2%;
  text-align: right;
  cursor: pointer;
}

/* line 81, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-previous {
  width: 12.5%;
  height: 12%;
  padding: 0 2% 0 2%;
  text-align: left;
  cursor: pointer;
}

/* line 89, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-month {
  width: 75%;
  height: 12%;
  text-align: center;
}

/* line 95, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-nav-btn-over {
  background-color: #89a3c0 !important;
  font-weight: bold;
}

/* line 100, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-today {
  background-color: #FEFFA9;
}

/* line 104, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-event {
  background-color: rgba(127, 2, 150, 0.18);
  color: black;
  font-weight: bold;
  cursor: pointer;
}

/* line 111, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-event-grid {
  margin: 0 auto;
  text-align: center;
}
/* line 114, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-event-grid h2 {
  font-size: 24px;
}

/* line 119, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-grid-title {
  font-size: 24px;
  font-weight: bold;
  float: left;
  background-color: #7F0296;
  color: white;
  vertical-align: middle;
}

/* line 128, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-event-title {
  text-align: center;
  font-weight: bold;
  background-color: #879bbc;
  color: white;
}

/* line 135, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-event-body {
  background-color: #fff;
  height: 88.1%;
}

/* line 140, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-event-list {
  padding: 7 0 0 0;
  overflow: auto;
  height: 95%;
}

/* line 146, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-event-item > .title {
  font-weight: bold;
  text-transform: none !important;
}
/* line 150, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-event-item > .title p {
  font-size: 16px;
  font-style: italic;
}

/* line 156, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-event-item > div {
  text-overflow: ellipsis;
  width: inherit;
  overflow: hidden;
}

/* line 162, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-event-item {
  padding-left: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
}

/* line 168, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-event-over {
  background-color: white;
  font-weight: bold;
  color: black;
}

/* line 174, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/e-calendar.scss */
.c-event-over > .description {
  font-weight: normal;
}
/* line 5, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/media.scss */
.video {
  display: block;
  border-radius: 15px;
  margin: 25px auto;
}
/* line 4, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/programs.scss */
.right {
  float: right;
}

/* line 9, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/programs.scss */
.classes h4 {
  font-size: 20px;
  text-transform: none;
  margin: 0;
  padding: 0;
}
/* line 16, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/programs.scss */
.classes h3 {
  margin: 0;
  padding: 0;
}

/* line 22, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/programs.scss */
.course-card {
  margin-bottom: 20px;
  width: 85%;
  margin: 0 auto;
}

/* line 28, /Users/a1060user/Desktop/angelicacenter/app/assets/stylesheets/programs.scss */
img {
  margin: 0 0 10px 0;
}
/* line 1, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 18, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
body {
  font-family: 'Didact Gothic', sans-serif;
  padding-top: 40px;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* line 24, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
body ::-webkit-scrollbar {
  display: none;
}

/* line 29, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
p {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 21px;
  letter-spacing: 0.5px;
  line-height: 22px;
}

/* line 36, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
.innerContainer {
  height: 1000px;
  position: relative;
  overflow: scroll;
}
/* line 41, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
.innerContainer .donorlist {
  padding-bottom: 10px;
  text-align: center;
}

/* line 47, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
.carousel-caption p {
  padding-top: 25px;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 1.4;
  font-style: italic;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px black;
}

/* line 57, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
.carousel-caption h1 {
  text-shadow: 1px 1px 1px #000, 3px 3px 5px black;
}

/* line 62, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
a {
  font-family: 'Patrick Hand SC', cursive;
  text-transform: uppercase;
}

/* line 79, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
li {
  text-transform: none;
  letter-spacing: 0.4px;
  font-size: 19px;
  line-height: 20px;
  font-family: 'Didact Gothic', sans-serif;
}

/* line 87, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
.li-clash {
  padding: 15px;
  border-radius: 30px !important;
}

/* line 92, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
.field {
  padding-bottom: 25px;
}

/* line 96, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:visited,
footer a,
footer a:visited {
  color: #fff;
}

/* line 103, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:active,
footer a:hover,
footer a:active {
  color: #ffe493;
}

/* line 110, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
.panel-heading {
  text-align: center;
  border-radius: 5px;
  font-size: 26px;
  padding: 20px 0;
  text-decoration: none !important;
}

/* line 117, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
.panel a {
  text-decoration: none !important;
}

/* line 121, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
.panel-title {
  font-size: 26px;
}

/* line 125, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
.dropdown-menu > li > a:hover {
  background-color: #ffe493;
}

/* line 129, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
.jumbotron {
  background-color: #E3F8FD;
  border-radius: 15px;
  text-shadow: 2px 2px 30px #468ba3;
  position: relative;
  height: 150px;
  z-index: -1;
  overflow: hidden;
}
/* line 138, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
.jumbotron h1 {
  position: relative;
  z-index: 10;
}

/* line 145, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
.cloud {
  position: absolute;
  top: 25px;
  width: 200px;
  -webkit-animation: 100s infinite reverse clouds;
  /* Safari 4+ */
  -moz-animation: 100s infinite reverse clouds;
  /* Fx 3+ */
  -o-animation: 100s infinite reverse clouds;
  /* Opera 12+ */
  animation: 100s infinite reverse clouds;
  /* IE 10+, Fx 29+ */
}

/* line 155, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
.cloud2 {
  position: absolute;
  top: 45px;
  margin-left: -50px;
  width: 300px;
  -webkit-animation: 200s infinite clouds;
  /* Safari 4+ */
  -moz-animation: 200s infinite clouds;
  /* Fx 5+ */
  -o-animation: 200s infinite clouds;
  /* Opera 12+ */
  animation: 200s infinite clouds;
  /* IE 10+, Fx 29+ */
}

/* line 166, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
footer {
  height: 180px;
  background: black;
  color: white;
  padding: 80px 15px 0 15px;
}
/* line 172, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
footer .address {
  padding: 15px;
  font-size: 14px;
}
/* line 177, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
footer p {
  padding: 15px;
  font-size: 12px;
  line-height: 18px;
}

/* line 184, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
.schedule-embed {
  border: none;
  transform: scale(1.5) translate(12.5%, 90px);
  margin: 0 auto;
  width: 100%;
  height: 1200px;
}

/* * * * * * * */
/* ANIMATIONS * /
/* * * * * * * */
@-webkit-keyframes clouds {
  0% {
    left: 50%;
  }
  40% {
    left: 100%;
  }
  70% {
    left: 0;
  }
  100% {
    left: 50%;
  }
}
@-moz-keyframes clouds {
  0% {
    left: 50%;
  }
  40% {
    left: 100%;
  }
  70% {
    left: 0;
  }
  100% {
    left: 50%;
  }
}
@-o-keyframes clouds {
  0% {
    left: 50%;
  }
  40% {
    left: 100%;
  }
  70% {
    left: 0;
  }
  100% {
    left: 50%;
  }
}
@keyframes clouds {
  0% {
    left: 50%;
  }
  40% {
    left: 100%;
  }
  70% {
    left: 0;
  }
  100% {
    left: 50%;
  }
}
@media screen and (max-width: 1200px) {
  /* line 222, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
  .schedule-embed {
    border: none;
    transform: scale(1.25) translate(6.25%, 40px);
    margin: 0 auto;
    width: 100%;
    height: 1200px;
  }
}
@media screen and (max-width: 680px) {
  /* line 231, /Users/a1060user/Desktop/ACAM/app/assets/stylesheets/application.scss */
  .schedule-embed {
    border: none;
    transform: scale(0.75) translate(-25%, -250px);
    margin: 0 auto;
    height: 1200px;
    width: 125%;
  }
}
