<div class="jumbotron">
  <h1>Class Schedule</h1>
</div>

<div class="innerContainer">
	<embed class="schedule-embed" src="https://docs.google.com/document/d/1Zcwi7A_wzAyDBkzPOiKLfDUHt_VbaYe6Mk7FDDFA3Bg/pub?embedded=true">
</div>