<div class="jumbotron">
    <h2>Hello World e-calendar!</h2>
</div>

<div id="calendar"></div>

<script type="text/javascript">
$(document).ready(function () {
    $('#calendar').eCalendar();
});

weekDays: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho',
         'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
textArrows: {previous: '<', next: '>'},
eventTitle: 'Eventos',
url: '',
events: [
    {title: 'Event Title 1', description: 'Description 1', datetime: new Date(2016, 0, 12, 17)},
    {title: 'Event Title 2', description: 'Description 2', datetime: new Date(2016, 0, 23, 16)}
]

$('#calendar').eCalendar({url: 'loadCalendar'});

$('#calendar').eCalendar({
    events: [
        {title: 'Event Title 1', description: 'Description 1', datetime: new Date(2016, 0, 12, 17)},
        {title: 'Event Title 2', description: 'Description 2', datetime: new Date(2016, 0, 23, 16)}
    ]
});

$('#calendar').eCalendar({url: 'loadCalendar',
                          weekDays: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']});
</script>