<div class="jumbotron">
  <h1>Newsletters</h1>
</div>

<div class="container newsletter">
  <div class="row">
    <div class="col-md-6 col-xl-4">
      <div class="thumbnail">
        <iframe width="100%" style="border: 0; height: 250px;" src="http://archive.constantcontact.com/fs101/1113287384482/archive/1115513968268.html"></iframe>
        <div class="caption">
          <h3>November 2013</h3>
          <p><a href="http://archive.constantcontact.com/fs101/1113287384482/archive/1115513968268.html" target="_blank" class="btn btn-default" role="button">Read Newsletter</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="thumbnail">
        <iframe width="100%" style="border: 0; height: 250px;" src="http://archive.constantcontact.com/fs101/1113287384482/archive/1119937823030.html"></iframe>
        <div class="caption">
          <h3>February 2015</h3>
          <p><a href="http://archive.constantcontact.com/fs101/1113287384482/archive/1119937823030.html" target="_blank" class="btn btn-default" role="button">Read Newsletter</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
