<div class="simple-calendar">
  <div id="cal-week-nav">
    <p class="pull-right"><%= link_to "Next", start_date: date_range.last + 1.day  %></p>
    <p><%= link_to "Previous", start_date: date_range.first - 1.day  %></p>
  </div>

  <div id="cal-week-events">
    <% date_range.each_slice(7) do |week| %>
      <tr>
        <% week.each do |day| %>
          <%= content_tag :td, class: calendar.td_classes_for(day) do %>
            <% if defined?(Haml) && block_is_haml?(block) %>
              <% capture_haml do %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% else %>
              <% block.call day, sorted_events.fetch(day, []) %>
            <% end %>
          <% end %>
        <% end %>
    <% end %>
  </div>

</div>