<div class="jumbotron" style="position: relative; z-index: 1">
  <h1>Photos</h1>
</div>

<div id="photos"></div>
<iframe style="margin-top: -100px; position: relative; z-index: 0" src="//embedsocial.com/facebook_album/album_photos/148850781821680" width="100%" height="1450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
