<div class="jumbotron">
  <h1>Videos</h1>
</div>

<div class="container">

    <iframe class="video" width="90%" height="480" src="https://www.youtube.com/embed/wupX-nC1OHg" frameborder="0" allowfullscreen></iframe>

    <iframe class="video" width="90%" height="480" src="https://www.youtube.com/embed/T8f-4R-cr4g" frameborder="0" allowfullscreen></iframe>

</div>