<div id="myCarousel" class="carousel slide" data-ride="carousel">
 <!-- Indicators -->
 <ol class="carousel-indicators">
   <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
   <li data-target="#myCarousel" data-slide-to="1"></li>
   <li data-target="#myCarousel" data-slide-to="2"></li>
 </ol>
 <div class="carousel-inner" role="listbox">

   <!-- - - - - -->
   <!-- ITEM #1 -->
   <!-- - - - - -->
   <div id="item1" class="item active">
     <div class="container">
       <div class="carousel-caption">
         <h1>Our students are confident.</h1>
         <p>“The most fun I have at ACAM is the performances because you get to show what you have learned and it is your time to shine."</p>
         <h3><a class="btn btn-lg btn-success" href="#" role="button">Enroll Today!</a></h3>
       </div>
     </div>
   </div>

   <!-- - - - - -->
   <!-- ITEM #2 -->
   <!-- - - - - -->
   <div id="item2" class="item">
     <div class="container">
       <div class="carousel-caption">
         <h1>Our community thrives.</h1>
         <p>“It gets the family together,there’s interaction betweenthe children, and loveand motivation in the children.”</p>
         <h3><a class="btn btn-lg btn-success" href="#" role="button">Learn more</a></h3>
       </div>
     </div>
   </div>

   <!-- - - - - -->
   <!-- ITEM #3 -->
   <!-- - - - - -->
   <div id="item3" class="item">
     <div class="container">
       <div class="carousel-caption">
         <h1>Get Involved!</h1>
         <p>Enroll, Donate, Volunteer, or Teach Today!</p>
         <h3><a class="btn btn-lg btn-success" href="#" role="button">Enroll</a>
         <a class="btn btn-lg btn-primary" href="#" role="button">Donate</a>
         <a class="btn btn-lg btn-info" href="#" role="button">Volunteer</a></h3>
       </div>
     </div>
   </div>
 </div>

 <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
   <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
   <span class="sr-only">Previous</span>
 </a>
 <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
   <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
   <span class="sr-only">Next</span>
 </a>
</div>