<div class="container">

<h2>Learn more about our...
<% if user_signed_in? %>
  <%= link_to ('<span class="glyphicon glyphicon-plus-sign"></span>').html_safe, new_event_path %>
  <% end %>
</h2>

<div class="row">
  <div class="col-md-4 col-sm-12">
    <div class="panel">
     <%= link_to ('<div class="panel-heading green">Classes</div>').html_safe, class_path %>
    </div>
  </div>

  <div class="col-md-4 col-sm-12">
    <div class="panel">
     <%= link_to ('<div class="panel-heading blue">Performances</div>').html_safe, calendar_path %>
    </div>
  </div>

  <div class="col-md-4 col-sm-12">
    <div class="panel">
     <%= link_to ('<div class="panel-heading purple">Community Events</div>').html_safe, calendar_path %>
    </div>
  </div>
</div>
</div>