<div class="jumbotron">
  <h1>Accomplishments</h1>
</div>

<div class="accomplishments innerContainer">
  <img src="https://s3-us-west-1.amazonaws.com/acamcenter/accomplishments.png" class="img-responsive" />

  <p>7th Year Report Coming Soon!</p>
</div>