<div class="jumbotron">
  <h1>Accomplishments</h1>
</div>

<div class="accomplishments innerContainer">
 <iframe src="https://docs.google.com/presentation/d/1dxtMY2S1tRfRDouxopd2GGwnmwZOw4XMz7gr4K1kQqg/embed?start=true&loop=true&delayms=3000" frameborder="0" width="100%" style="max-width: 960px; margin: 0 auto;" class="img-rounded" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>