<div class="jumbotron">
  <h1 class="header">Mission and Vision</h1>
</div>


  <div class="mission innerContainer">
    <img class="pull-right" src="https://s3-us-west-1.amazonaws.com/acamcenter/now.png" />

    <h2>Vision</h2>
    <p>Bringing hope, peace and understanding through the arts!</p>

    <h2>Mission</h2>

    <p>To enable youth to develop a strong sense of community, self-esteem, motivation, and responsibility through individual and ensemble based arts.<p>

    <p>Angelica Center for Arts and Music (ACAM) nurtures and mentors youth in the arts by exploring and developing their creative abilities in a safe environment because the arts enrich lives:</p>

    <ul>
      <li>promotes healthy growth and development of children through the study, practice and performance of the arts.</li>
      <li>builds healthier communities by investing in the positive development of children through the arts.</li>
      <li>develops children as ambassadors of peace, hope and understanding.</li>
    </ul>


  <img class="pull-left img-responsive li-clash" src="https://s3-us-west-1.amazonaws.com/acamcenter/then.png" />
  <p>Angelica Center for Arts and Music is dedicated to:</p>

  <ul>
    <li><strong>Commitment:</strong>  ACAM is committed to providing young people from low income families the opportunity to develop their talents in the arts:  dance, music, theatre.  This commitment benefits the children, their families and the community.</li>

    <li><strong>Community:</strong>  ACAM builds a feeling of community among the students and their families.  This sense of community is shared by the teachers, staff, board members and community partners.  The classes at ACAM bring joy and hope to the community.</li>

    <li><strong>Confidence:</strong>  ACAM builds a sense of self and develops a realization of one’s importance within a group.</li>

    <li><strong>Collaboration:</strong>  ACAM helps students learn to collaborate with one another in dance, theatre and music classes, as well as within their families.  With skills they have already learned, older students help mentor younger ones.  Teachers, staff and board members learn from each other and grow.  ACAM is sustained by collaboration with parents, Angelica Lutheran Church, Hope Street Family Center and New City Parish.</li>

    <li><strong>Respect:</strong>  ACAM teachers demonstrate respect for the talent of their students and for their potential.  In turn, the students develop a respect for self, their peers and their teachers.  Students learn to respect and appreciate the efforts of their parents to provide an arts education for them.  The teachers, staff, board members and community collaborators share a strong sense of respect for the mission of Angelica Center for Arts and Music.</li>

    <li><strong>Responsibility:</strong>  ACAM students develop responsibility by managing their time, practicing their instruments, preparing theatre and dance lessons, and learning material assigned to them.  Students develop a sense of responsibility to each other.  ACAM students learn to take responsibility for their growth and development and for helping their fellow students learn. In doing so, they learn they have a responsibility to give back to their community – to be a good citizen.</li>

    <li><strong>Integrity:</strong>  The board members, staff and teachers strive to give their best efforts to this work.  ACAM emphasizes teaching the whole child.</li>

    <li><strong>Sustainability:</strong>  ACAM is committed to finding ways to sustain the work of ACAM for both current and future students.  ACAM also encourages students to think about and demonstrate sustainability within their families, the community and the world.</li>
  </ul>
</div>