<div class="jumbotron">
  <h1>Our Origin</h1>
</div>

<div class="origin">

  <img class="pull-left" style="width: 275px" src="https://scontent-lax3-1.xx.fbcdn.net/hphotos-xlt1/v/t1.0-9/11951821_10153550276414717_2046422993684837803_n.jpg?oh=fff94c2d0a63ea032074debe184de5b5&oe=570D4EC5" />

  <p>ACAM was a way for Ellen Sell to give back to a neighborhood and community that provided her “a music home” when she moved to Los Angeles.  As a student in the opera program at USC, Ellen needed practice space and Angelica Lutheran Church provided that for her.  In return, she led an afterschool class for children and helped with children’s music at Angelica Lutheran Church.  For the next twenty-seven years she sang in the church’s choir, served on their church council and on numerous committees.</p>

  <p>Over the years, Pico-Union saw a socio-economic decline, as “white-flight” responded to the growing immigrant population.  Today Pico Union, a “port of entry” for Los Angeles’s immigrant community, is one of the poorest areas in Los Angeles:  the total of households falling under the Federal Poverty Level stands at 58%, an increase of 13 % since 2000.  Residents’ lack of education, poor job skills and difficulty with English makes finding gainful employment extremely challenging.  Comprised of 78% Latinos, the Pico-Union neighborhood is one of the most densely populated areas of Los Angeles (62,000 people living in 1.7 square miles), with 21,000 under the age of 19 (U.S. Census, 2010).</p>

  <p>Pico-Union’s youth were particularly challenged:  youth make up one-third of the area’s residents; high school graduation rates are extremely low with only 39% of the population having a high school diploma; Pico-Union is home to ten identified gangs and a variety of other antisocial behavior.   Youth needed a viable, positive alternative to the antisocial options youth have in the area.</p>

  <p>Studies show classes for youth in the arts help address problems of at-risk youth (Caterall, 1998).  Consequently youth improve learning skills, increase their test scores, and stay in school.  However, with public school funding for the arts cut by 75% in 2012, youth in Pico-Union youth have almost no opportunity for arts lessons in or after school.
  The transformative power of the performing arts in the lives of at-risk youth is demonstrated in “El Sistema”—the community-based arts program for youth in the barrios of Venezuela that has dramatically changed the life trajectory of thousands of Venezuela’s neediest children—ACAM is designed to adapt “El Sistema” to the situation in Pico-Union.</p>

  <img class="pull-right" src="https://scontent-lax3-1.xx.fbcdn.net/hphotos-xtl1/v/t1.0-9/12391301_1081349808571768_254562831255792448_n.jpg?oh=32489ab790fa08d9d41fdbb35a62d6c3&oe=570B6D56" />

  <p>Thus, ACAM was born.  The program replicates the El Sistema model with group teaching, peer-to-peer learning, an emphasis on ensemble performances and a spirit of “giving back” to the immediate community of the organization, and taking ownership of the program. Studies show that arts programming promotes social interaction among community members, creates a sense of community identity and helps build social capital and empowerment of communities to organize for collective action (McCarthy, et al, Rand Report, 2004; Brice Heath, 1998).  Also, arts programs help with sociocultural development: teamwork skills, tolerance, and appreciation of diversity in people and ideas, building communities and maintaining cultural pride (Iwai, 2004).
  James Caterall’s research document that when at-risk youth have a history of intensive arts experiences, in or out of school, not only do they improve and perform better academically in school, but also they are much more civic minded as citizens of the community (Caterall, 1998).</p>
</div>