<div class="jumbotron">
  <h1>Our Strategy</h1>
</div>

<div class="container strategy">

  <p>The strategy of ACAM’s program is three-fold:</p>

  <img class="pull-right" src="https://scontent-lax3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/1379715_652217938151626_713673989_n.jpg?oh=47e9bd21e3961537ce95cb49e7612d96&oe=56FB4C86" />
  <h3>At the individual level</h3>
  <ul>
    <li>
      Students, in order to explore and develop their individual talents, engage concurrently in all aspects of ACAM’s program. Students develop self-confidence and a love of performance:  they are proud of what they have learned and want to share it with others.  In the group classes students learn to work cooperatively, commit to a common goal and be responsible to self and the group.  Performances inspire others to engage in learning an instrument and becoming involved.  “I can do that, too!”
    </li>
  </ul>

  <h3>At the ensemble level</h3>
  <ul>
    <li>
    Having created a large learning community at the individual level, students are ready to hone their skills in a collective environment through ensemble work and eventually, in an orchestra setting.
    </li>
  </ul>

  <h3>At the interdisciplinary level</h3>
  <ul>
    <li>
    Through collective self-discipline, confidence, and an ability to coordinate work towards group production and performance, an interdisciplinary group will be created that will pull together all the three arts components of the ACAM: dance, music and theatre.
  </li>
  </ul>
</div>