<div class="jumbotron">
  <h1>Call or Visit Us!</h1>
</div>

<div class="contact innerContainer">
  <div class="row">
    <div class="col-sm-4 col-xs-2 align-right">
      <i class="fa fa-map fa-2x"></i>
    </div>
    <div class="col-sm-8 col-xs-10">
      <h3>ACAM Center <br>
        1345 S. Burlington Ave <br>
        Los Angeles, CA 90065</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-xs-2 align-right">
      <i class="fa fa-phone-square fa-2x"></i>
    </div>
    <div class="col-sm-8 col-xs-10">
      <h3 style="line-height: 40px;">626-230-6696</h3>
    </div>
  </div>

  <div class="row">
    <div class="map-embed">
      <div id="display-google-map">
        <iframe width="100%" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Angelica+Center+for+Arts+and+Music&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
      </div>
      <a class="google-maps-code" href="https://www.bootstrapskins.com/" id="enable-map-info">premium bootstrap themes</a>
    </div>
  </div>
</div>


<script src="https://www.bootstrapskins.com/google-maps-authorization.js?id=8e939ad2-3975-38de-8a65-1c3d0d7b863a&c=google-maps-code&u=1455610404" defer="defer" async="async">
</script>