<div class="jumbotron">
  <h1>Thanks!!</h1>
</div>

<div class="innerContainer">
 <p style="text-align: center; font-size: 24px;">
  A staff member will be in touch with you as soon as possible.
 </p>

 <p>You can keep up to date with the latest and greatest at ACAM, including special events and family nights, by signing up for our newsletter!</p>
<h2 style="text-align: center">- - -FORM COMING SOON- - -</h2>

<p style="text-align: center">Follow us on Facebook! <br>
  <a href="https://www.facebook.com/Angelica-Center-for-Arts-and-Music-110467198993372/timeline" target="_blank">
    <i class="fa fa-3x fa-facebook-official"></i>
  </a>
</p>
</div>