.mission,
.board,
.origin,
.strategy {
  img {
    width: 500px;
    margin: 15px;
    border-radius: 15px;
  }

}
.accomplishments {
  text-align: center;

 .acc-img {
  margin: 0 auto;
  width: 100% !important;
  max-width: 600px;
 }

  li {
    font-family: 'Coming Soon', cursive;
    text-transform: none;
    padding-bottom: 10px;
    line-height: 22px
  }

  li:before {
    content: "\2605";
    font-size: 14px;
    margin-left: -25px;
    padding-left: 35px;
    padding-right: 8px;
  }

  ul {
    list-style: none;
  }
}

.green {
  color: white;
  background-color: green;

}
  .green:hover {
    background-color: #3aaf36;
  }

.blue {
  color: white;
  background-color: #1c23a8;
}

.blue:hover {
  background-color: #2773f7;
}

.purple {
  color: white;
  background-color: purple;
}
.purple:hover {
  background-color: #b54fb5;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 768px) {

  .mission,
  .board,
  .origin,
  .strategy {
      img {
        width: 100%;
        display: block;
        border-radius: 15px;
        padding: 10px;
        margin: 0 auto;
      }
  }

}