/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: 'Coming Soon', cursive;
   padding-top: 40px;
   padding-bottom: 0;
   margin-bottom: 0;

   ::-webkit-scrollbar {
       display: none;
   }
 }

p {
  font-family: 'Coming Soon', cursive;
  font-size: 16px;
}

.innerContainer {
  height: 1000px;
  position: relative;
  overflow: scroll;

  .donorlist {
    padding-bottom: 10px;
    text-align: center;
  }
}

.carousel-caption p {
  padding-top: 25px;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 1.4;
  font-style: italic;
  text-shadow: 1px 1px 1px #000,
               3px 3px 5px black;
}

.carousel-caption h1 {
  text-shadow: 1px 1px 1px #000,
               3px 3px 5px black;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
a,
li {
  font-family: 'Patrick Hand SC', cursive;
  text-transform: uppercase;
}

.field {
  padding-bottom: 25px;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:visited,
footer a,
footer a:visited {
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:active,
footer a:hover,
footer a:active  {
  color: #ffe493;
}

.panel-heading {
  text-align: center;
  border-radius: 5px;
}

.panel-title{
  font-size: 26px;
}

.dropdown-menu>li>a:hover {
  background-color: #ffe493;
}

.jumbotron {
  background-color: #E3F8FD;
  border-radius: 15px;
  text-shadow: 2px 2px 30px #468ba3;
  position: relative;
  height: 150px;
  z-index:-1;
  overflow: hidden;

  h1 {
    position: relative;
    z-index: 10;
  }

}

.cloud {
  position: absolute;
  top: 25px;
  width: 200px;
  -webkit-animation: 100s infinite reverse clouds; /* Safari 4+ */
  -moz-animation:    100s infinite reverse clouds; /* Fx 3+ */
  -o-animation:      100s infinite reverse clouds; /* Opera 12+ */
  animation:         100s infinite reverse clouds; /* IE 10+, Fx 29+ */
}

.cloud2 {
  position: absolute;
  top: 45px;
  margin-left: -50px;
  width: 300px;
  -webkit-animation: 200s infinite clouds; /* Safari 4+ */
  -moz-animation:    200s infinite clouds; /* Fx 5+ */
  -o-animation:      200s infinite clouds; /* Opera 12+ */
  animation:         200s infinite clouds; /* IE 10+, Fx 29+ */
}

footer {
  height: 180px;
  background: black;
  color: white;
  padding: 80px 15p 0 15px;

  .address {
    padding:15px;
    font-size: 14px;
  }

  p {
    padding:15px;
    font-size: 12px;
    line-height: 18px;
  }
}

/* * * * * * * */
/* ANIMATIONS * /
/* * * * * * * */

  @-webkit-keyframes clouds {
    0%   { left: 50%; }
    40% { left: 100% }
    70% { left: 0; }
    100% { left: 50%; }
  }
  @-moz-keyframes clouds {
    0%   { left: 50%; }
    40% { left: 100% }
    70% { left: 0; }
    100% { left: 50%; }
  }
  @-o-keyframes clouds {
    0%   { left: 50%; }
    40% { left: 100% }
    70% { left: 0; }
    100% { left: 50%; }
  }
  @keyframes clouds {
    0%   { left: 50%; }
    40% { left: 100% }
    70% { left: 0; }
    100% { left: 50%; }
  }
