// Place all the styles related to the programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.right {
  float: right;
}

.classes {
  h4 {
    font-size: 20px;
    text-transform: none;
    margin: 0;
    padding: 0;
  }

  h3 {
    margin: 0;
    padding: 0;
  }
}

.course-card {
  margin-bottom: 20px;
  width: 85%;
  margin: 0 auto;
}

img {
  float: right;
  margin: 0 0 10px 0;
}
